
<h2>
  {{view.position.name}}
  <br>
  <small>{{view.position.tagline}}</small>
</h2>
<p>
  <strong>for:</strong> {{view.position.company.name}}
  | {{tdat-monthyear view.position.startDate}} to {{tdat-monthyear view.position.endDate}}
</p>
