<div class="display-skill bg-info">
  <h4>{{view.skill.name}}</h4>
  {{#each indicator in view.skill.indicators}}
  <p class="text-right">
    {{indicator.value}}
    {{tstr-pluralize indicator.value indicator.metric.unitName}}
    {{indicator.name}}
  </p>

  {{! TODO: These controls can be further delegated to another view
    or to components }}
  <div class="btn-group">
    {{#link-to 'skill' view.skill  class="btn btn-xs btn-default"}}
      <i class="fa fa-eye"></i> details
    {{/link-to}}
    {{#link-to 'skill.edit' view.skill  class="btn btn-xs btn-default"}}
      <i class="fa fa-pencil"></i> edit
    {{/link-to}}
    <a class="btn btn-xs btn-default" {{action "deleteSkill" view.skill}}>
      <i class="fa fa-trash"></i> delete
    </a>
  </div>
  {{/each}}
</div>
