<form role="form">

  <div class="form-group">
    {{input
      value=model.name
      class="form-control"
      placeholder="Position name"
    }}
  </div> {{! name }}

  <div class="form-group">
    {{input
      value=model.tagline
      class="form-control"
      placeholder="Position tagline"
    }}
  </div> {{! tagline }}

  <div class="form-group">
    <div class="row">
      <div class="col-xs-6">
        {{date-picker
          date=model.startDate
          class="form-control"
          placeholder="Start date"
        }}
      </div>
      <div class="col-xs-6">
        {{date-picker
          date=model.endDate
          class="form-control"
          placeholder="End date"
        }}
      </div>
    </div>
  </div> {{! dates }}

  <div class="form-group">
    {{input
      value=companySearchBox
      class="form-control"
      placeholder="Company"
    }}
    {{#unless model.company.id}}
    {{#if companySearchResults}}
    <div class="live-search-results">
      <ul class="list-unstyled">
      {{#each company in companySearchResults}}
        <li>
          <button class="btn btn-default" {{action "attachCompany" company}}>
            {{company.name}}
          </button>
        </li>
      {{/each}}
        <li>Dippity</li>
      </ul>
    </div>
    {{/if}}
    {{/unless}}
  </div> {{! company }}

  <hr>

  {{#each activity in model.activities}}
  <fieldset>

    <label>Activity </label>
    <div class="form-group">
      {{input
        value=activity.name
        class="form-control"
        placeholder="Short description"
      }}
    </div>
    <div class="form-group">
      {{input
        value=activity.description
        class="form-control"
        placeholder="Full description"
      }}
    </div>
    <div class="form-group">
    <button {{action "linkSkills" activity}} class="btn btn-default">
      <i class="fa fa-plus"></i> Link skills
    </button>
      {{input
        value=skillSearchbox
        class="form-control"
        placeholder="Search skills"
      }}
    </div>

  </fieldset>
  {{/each}} {{! activities }}

  <div class="form-group">
    <button {{action "newActivity"}} class="btn btn-default">
      <i class="fa fa-plus"></i> Add activity
    </button>
  </div>


</form>
