
{{#if name}}
<h1>{{name}}</h1>
{{else}}
<p class="text-warning"><small>Please name this skill</small></p>
{{/if}}

{{#if indicators}}
<ul class="list-unstyled">
{{#each indicator in indicators}}
  <li>
    {{indicator.value}} {{tstr-pluralize indicator.value indicator.metric.unitName}} {{indicator.name}} experience
  </li>
{{/each}}
</ul>
{{else}}
<p class="text-warning"><small>Please add some indicators</small></p>
{{/if}}
