<form role="form">


  <div class="form-group">
    <label for="input-skill-name" class="sr-only">Skill Name</label>
    {{input
      value=name
      class="form-control"
      placeholder="Skill name"
      id="input-skill-name"
      }}
  </div>

  <ul class="list-unstyled">

    {{#if indicators}}
    {{#each indicator in indicators}}
    <li>
      {{indicator.value}}
      {{tstr-pluralize indicator.value indicator.metric.unitName}}
      {{indicator.name}}
    </li>
    {{/each}}
    {{/if}}

    <li><a href="#" {{action "addingIndicator"}}>
      {{#if indicatorEditor}}
      <i class="fa fa-minus"></i> cancel
      {{else}}
      <i class="fa fa-plus"></i> new indicator
      {{/if}}
    </a></li>

  </ul>

  {{#if indicatorEditor}}
  {{editor-indicator indicatorContainer=indicatorContainer action="addIndicator" }}
  {{/if}}

  <div class="form-group">
    <button {{action "saveModel"}} class="btn btn-success">Done, save it!</button>
  </div>

</form>




