<form role="form">

  <div class="form-group">
    {{input
      value=model.name
      class="form-control"
      placeholder="Position name"
    }}
  </div> {{! name }}

  <div class="form-group">
    {{input
      value=model.tagline
      class="form-control"
      placeholder="Position tagline"
    }}
  </div> {{! tagline }}

  <div class="form-group">
    <div class="row">
      <div class="col-xs-6">
        {{date-picker
          date=model.startDate
          class="form-control"
          placeholder="Start date"
        }}
      </div>
      <div class="col-xs-6">
        {{date-picker
          date=model.endDate
          class="form-control"
          placeholder="End date"
        }}
      </div>
    </div>
  </div> {{! dates }}

  <div class="form-group">
    {{company-picker
      company=model.company
      store=controller.store
    }}
  </div> {{! company }}

  <hr>

  <h3>Position activities</h3>
  <ul class="list-unstyled">
    {{#each activity in model.activities}}
    <li class="bg-primary">{{activity.name}}</li>
    {{/each}}
  </ul>

  {{position-activity-picker
    activities=model.activities
    store=controller.store
  }} {{! activities }}

  <button {{action "savePosition"}} class="btn btn-success"><i class="fa fa-check"></i>Save position</button>
</form>
