<div id="#application-main-wrapper" {{bind-attr class="showNav"}}>
  <div id="application-menu-wrapper">

    <nav id="application-menu">
      <ul class="nav nav-pills nav-stacked">
      {{#each section in mainMenu}}
        <li class="menu-section-header">
          {{fstr-capall section.name}}
        </li>
        {{#each item in section.items}}
        <li>
          {{#link-to item.target}}{{item.name}}{{/link-to}}
        </li>
        {{/each}}
      {{/each}}
      </ul>
    </nav>{{!main menu}}

    <button {{action "toggleNav"}} type="button" class="btn btn-primary" id="main-menu-button">
      <span class="sr-only">Toggle navigation</span>
      <span><i class="fa fa-bars fa-2x"></i></span>
    </button>

    <main id="application-inner-wrapper" role="main">
      <div {{bind-attr class="options.fluidLayout:container-fluid:container"}}>
        {{outlet}}
      </div>
    </main>

  </div>
</div>
